body {
	background-image:url(../images/ice-crystals.jpg);
}

h1 {
	text-align: center;
	font-size:40px;
	padding:50px;
	background-color:#ff6699;
}

.instructions {
	background-color:#e6ccb3;
}

.scoreToMatch {
	background-color:#66ff66;
}

.results {
	background-color:#66ffff;
}

.currentScore {
	background-color:#1f7a7a;
}

img {
	height:150px;
	width:150px;
}